/*--------------------TEXT-------------------------------------------------------------*/
.title1 {
	font-size: 64px;
	text-align: center;
	margin-top: 50px;
	color: white;
	text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 1px black;
}

.titletext {
	font-size: 22px;
	text-align: center;
	margin-top: 0px;
	color: rgb(255, 255, 255);
}

.hometext {
	font-size: 46px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 1px black;
}

.logintext {
	font-size: 32px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0;
	color: rgb(255, 255, 255);
}

.registertext {
	font-size: 32px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0;
	margin-right: 105px;
	color: rgb(255, 255, 255);
	display: inline-block;
}
.text1 {
	font-size: 16px;
	color: rgb(255, 255, 255);	
}

/*--------------------------BODY, NAV, CONTENT & FOOTER----------------------------*/
body {
	margin: 0;
	background-image: url("./Images/happypeople2.jpg");
	background-size: cover;
	/*font-family: roboto !important;*/
}

.topnav {
	overflow: hidden;
	background-color: #d3331e;
}
  
/* Topnav links */
.topnav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav b {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 7px 10px;
	text-decoration: none;
	font-size: 24px;
	margin-bottom: 0px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav b:hover {
	cursor: pointer;
}

.content {
	padding: 10px;
	min-height: 100%;
	width: 100%;
}
  
footer{
	clear: both;
	background-color: #d3331e;
	padding: 10px;
	height: 50px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

.footer2{
	background-color: #d3331e;
	padding: 10px;
	height: 50px;
	left: 0px;
	right: 0px;
	margin-top: 20px;
	position: absolute;
}

.footertext {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	color: white;
}

/*-----------------------------------BUTTONS & LINKS----------------------------------------*/
.button1 {
	margin: 0 auto;
	width: 90px;
	display: block;
	background-color: #d3601e;
	color: white;
	text-align: center;
	padding: 6px 6px;
	font-size: 14px;
	border-radius: 50px;
	border-style: none !important;
	border-width: 2px;
	margin-top: 10px;
}

.loginbutton {
	margin: 0 auto;
	width: 100px;
	height: 45px;
	display: block;
	background-color: #d3601e;
	color: white;
	text-align: center;
	padding: 12px 12px;
	font-size: 14px;
	border-radius: 50px;
	border-style: none !important;
	margin-top: 10px;
}

.getstartedbutton {
	margin: 0 auto;
	width: 120px;
	height: 55px;
	display: block;
	background-color: #d3601e;
	color: white;
	text-align: center;
	padding: 17px 12px;
	font-size: 14px;
	border-radius: 50px;
	border-style: none !important;
	margin-top: 10px;
}

.button1:hover, .loginbutton:hover, .getstartedbutton:hover{
	background-color: #944415a4;
	cursor: pointer;
}

.backLink {
	
	color: #ee6e25;
	font-size: 18px;
	margin-right: 0px;
	display: inline-block;
	position: initial;
	text-align: left;
	margin-right: 50px;
}

.backLink:hover{
	color: #1ed369;
	cursor: pointer;
}

/*-------------------------------------INPUT--------------------------------*/
input[type=text], input[type=password] {
	margin: 0 auto;
	width: 250px;
	padding: 6px 10px;
	margin-bottom: 20px;
	margin-left:15px;
	margin-right: 17px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/*-------------------------------------CONTAINERS---------------------------*/
.container {
	display: block;
	margin: 0 auto;
	width: 350px !important;
	background: rgba(0,0,0,0.7);
	border-radius: 10%;
	margin-top: 50px;
	padding: 40px ;
}

.homeMatchContainer {
	display: block;
	/*margin: 0 auto;*/
	width: 350px !important;
	height: 400px;
	background: rgba(0,0,0,0.7);
	border-radius: 10%;
	margin-top: 50px;
	margin-left: 25%;
	padding: 40px;
	display: inline-block;
}

.homeBuddyContainer {
	display: block;
	/*margin: 0 auto;*/
	width: 350px !important;
	height: 400px;
	background: rgba(0,0,0,0.7);
	border-radius: 10%;
	margin-top: 50px;
	padding: 40px;
	margin-left: 0%;
	margin-right: 25%;
	float: right;
	display: inline-block;
}

.profileContainer {
	display: block;
	margin: 0 auto;
	width: 45% !important;
	height: 40% !important;
	background: rgba(0,0,0,0.7);
	border-radius: 10%;
	margin-top: 30px;
	padding: 20px ;
}

/*------------------------------------OTHER----------------------------------*/
.dot {
	height: 120px;
	width: 120px;
	background-color: rgba(77, 77, 77, 0.842);
	border-radius: 50%;
	border-style: outset;
	border-color: rgb(153, 153, 153);
	border-width: 2px;
	margin-bottom: 6px;
	padding: 32px;
	display: inline-block;
}

.dot:hover {
	background-color: rgba(170, 95, 25, 0.342);
	cursor: pointer;
}

.hide { display: none; }
.show { display: block; }
.right { float: right; }
.left { float: left; }

.vert-align { vertical-align: middle; }
.center { text-align: center; }